.Container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    width: 500px;
    padding-bottom: 10px;
    }
    .header1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 100%;
        margin-top: 20px;
        height: 45px;
    
    }
    .header1 h2{
        color: #4079aa;
        font-size: 1.125rem;
    }
    .inputs{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        /* gap: 30px; */
        border-radius: 20px;
    
    }
    .input{
        display: flex;
        align-items: center;
        margin: auto;
        width: 400px;
        height: 50px;
        background: rgb(255, 255, 255);
        border-radius: 6px;
    
    }
    .inputs img{
        margin: 0px 20px;
    }
    .inputs input{
        height: 20px;
        width: 300px;
        background: transparent;
        border: none;
        outline: none;
        color: #797979;
        font-size: 19px;   
    }
    .forgot_password{
        padding-left: 5rem;
        margin-top: 2rem;
        color:#797979;
        font-size: 15px;
    
    }
    .forgot_password span{
        color: blue;
        cursor: pointer;    
    }
    .login-custom{
        background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
        border: 1px solid whitesmoke;
        border-radius: 10px;
        height: 30em;
    }
    
    .heading{
        display: flex;
        flex-direction: row;
        color: #035b96;
        font-size: 1.75rem;
    }
   
    .dropdown{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6rem;
    }