
.Container{
display: flex;
flex-direction: column;
margin: auto;
margin-top: 10px;
width: 600px;
background: #fff;
padding-bottom: 20px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
margin-top: 10px;
margin-bottom: 0px;
height: 35px;


}
.text{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 700;

}
.underline{
    width: 100px;
    height: 5px;
    background: blue;
    border-radius: 5px;

}
.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 2px;

}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 420px;
    height: 40px;
    background: rgb(255, 255, 255);
    border-radius: 6px;

}
.inputs img{
    width: 3%;
    margin: 0px 20px;
}
.inputs input{
    height: 30px;
    width: 200px;
    /* background: transparent;
    outline:#801f1f; */
    /* color: #424242; */
    font-size:  15px;   
    font-weight: 400;
}
.forgot_password1{
    padding-left: 40px;
    margin-top: 10px;
    color:#797979;
    font-size: 15px;

}
.forgot_password1 span{
    color: rgb(237, 237, 241);
    cursor: pointer;
    
}
.custom-color{
    background: linear-gradient(to right, #d4e6f3,#9bcaeb,#59b2f1, #5781e3,#414fc9); 
    border: none;
    border-radius: 10px;
}
